.pagination{
    text-align: center;

}

.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: rgb(40, 221, 245);
    font-weight: bold;
    border-radius: 8px;
}

.pagination a:hover:not(.active){
    background-color: rgba(224, 213, 213, 0.548);
    border-radius: 8px;
}